body{
    color:whitesmoke;
    background-color: #231955;
    font-family: 'Righteous', cursive;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 80px minmax(600px,auto) minmax(300px,auto);
    gap: 10px;
    grid-template-areas: 
    "hd hd hd"
    "sd main main"
    "ft ft ft";
}

header{
    grid-area: hd;
    background-color: #363062;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    width: 100%;
    border-radius: 0 0 7px 7px;
    z-index:1;
}

header img{
    margin: 10px;
    width: 62px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: aliceblue;
    margin-right:10px;
    background-color: #231955;
    display: block;
    width: 80px;
    text-align: center;
    line-height: 2.5;
    border-radius: 7px;
}

nav a:hover{
    background-color: blueviolet;
}

.content{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    grid-area: main;
    background-color: #363062;
    border-radius: 7px;
    gap: 10px;
}

.content .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.content .box h1{
    margin: 0;
    font-size: 20pt;
}

.content img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.content .box:hover{
    opacity: 0.5;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    grid-area: sd;
    background-color: #363062;
    border-radius: 0 7px 7px 0;
}
 .box{
    border-radius: 7px;
    background-color: #231955;
    height: 30px;
    width: 200px;
    cursor: pointer;
}

.large{
    height: 200px;
}

.box:hover{
    background-color: blueviolet;
}

footer{
    grid-area: ft;
    background-color: #363062;
}

.footerSections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 7px 7px 0 0;
}

.copyright{
    text-align: center; 
    color: grey;
}

footer .section{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
