/*  Fonts   */
/*font-family: 'Gruppo', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Righteous', cursive;*/

/*  Header   */
/*  NavMenu   */
nav{
    min-height: 65px;
    background-color: #363062;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

nav li{
    margin: 0.4rem 0.8rem 0;
}

nav a{
    background-color:#06283D;
    width: 12.5rem;
    height: 2.3rem;
    padding-top: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    border-radius: 7px;
    font-family: 'Righteous', cursive;
}

nav a:hover{
    color: #06283D;
    background-color: #A5BECC;
}

/*  Body    */
body{
    margin: 0;
    background-color:#06283D;
}

/*  Footer  */
footer{
    min-height: 80px;
    background-color: #363062;
    text-align: center;
    padding-top: 1.4em;
    border: #363062 solid;
    border-radius: 15px 15px 0 0;
}

footer a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Gruppo', cursive;
    margin: 0 2.2em 0 2.2em;
}

footer p{
    margin-top: 2.3em;
}

/*  Main Components */
hr{
    background-color: transparent;
    border-style: dotted none none none;
    border-color: #243A73;
    border-width: 10px; 
    width: 8%;
    margin: 80px auto 80px auto;
}
p{
    font-family: 'Gruppo', cursive;
    color: #A5BECC;
}
h2{
    font-family: 'Righteous', cursive;
    color: #1363DF;
    font-size: 3.4rem;
    margin-bottom: 2.9rem;
    margin-top: 0;
}

h3{
    font-family: 'Gruppo', cursive;
    color: #A5BECC;
    font-size: 2.3rem;
}

.bold{
    font-weight: bold;
}

/*  Home Page   */
/*  Top Container   */
.topContainer{
    text-align: center;
    position: relative;
    padding-top: 50px;
    background-color: #363062;
    height: 610px;
}

.topcloud{
    width: 120px;
    position: absolute;
    top: 10%;
    right: 20%;
}

.botcloud{
    width: 120px;
    position: absolute;
    left: 24%;
    top: 45%;
}

.mountainImg{
    width: 750px;
    position: absolute;
    bottom: 0;
    left: 25%;
}

.myName{
    font-family: 'Righteous', cursive;
    font-size: 350%;
    color: #7C3E66;
    margin-top: 50px;
    line-height: 1;
}

.myJob{
    font-family: 'Gruppo', cursive;
    font-size: 225%;
    font-weight: bold;
    color: #A5BECC;

}

/*  Middle Container   */
.middleContainer{
    text-align: center;
    position: relative;
    padding-top: 50px;
    background-color: #243A73;
    height: 610px;
}

.flutterskill{
    position: absolute;
    left: 8%;
    bottom: 2%;
    height: 430px;
}

.webdevskill{
    position: absolute;
    right: 4%;
}

.skill1{
    position: absolute;
    left: 12%;
    top: 20%;
    
}

.skill2{
    position: absolute;
    right: 12%;
    top: 20%;
}

/*  Bottom Container   */
.botContainer{
    text-align: center;
    position: relative;
    padding-top: 35px;
    background-color: #06283D;
    height: 650px;
}

.projectRow{
    width: 50%;
    margin: 0 auto 0 auto;
    text-align: left;
    line-height: 1.9;
}

.pmLogo{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.pmProject{
    font-family: 'Righteous', cursive;
    color: #7C3E66;
    font-size: 2.4rem;
    margin: 0;
}

.projectRow p{
    font-weight: 600;
}

/* CV Page*/
/*  CV Head */
#maghPhoto{
    width: 200px;
    float: left;
    margin-right: 30px;
}

.cvHead{
    padding: 30px;
    padding-bottom: 20px;
    background-color: #363062;
    border-radius: 0 0 40px 40px;
    margin-bottom: 30px;
}

.cvHead h1{
    font-family: 'Lobster Two', cursive;
    color: #1363DF;
}


.cvHead a{
    font-family: 'Gruppo', cursive;
    text-decoration: none;
    color: #A5BECC;
    margin: 20px;
    margin-left: 0;
    font-weight: 700;
}

.cvHead a:hover{
    color:#06283D;
}

.contactDetails img{
    width: 30px;
    float: left;
    margin-right: 30px;
}

.cvHead h3{
    font-size: 2rem;
    line-height: 0.3;
    width: 820px;
}

.cvHeadChild{
    margin: 0 auto 0 auto;
    width: 50%;
}

/*  CV Row   */
.cvRow{
    text-align: center;
}

.cvRow h2{
    font-size: 2.6rem;
}

.cvRow h3{
    font-size: 2rem;
    line-height: 0.3;
}

.cvRow p{
    font-size: 22pt;
}

.objective{
    width: 75%;
    line-height: 1.5;
    font-size: 16pt;
    margin: 0 auto 0 auto;
}

.cvRow li{
    font-size: 1.5rem;
    width: 50%;
    margin: 0 auto 0 auto;
    font-family: 'Gruppo', cursive;
    list-style-type: none;
    color: #A5BECC;
    line-height: 2;
}

.eduContainer{
    display: flex;
}

.school li{
    width: 100%;
}

.year{
    width: 40%;
}

#yearBot{
    margin-top: 90px;
}

#gradeBot{
    margin-top: 90px;
}

.grade{
    width:40%;
}

.experience li{
    width: 80%;
}

.rowSkills{
    display: flex;  
    justify-content: center;
}

.columnSkill{
    width: 40%;
}

.techSkill{
    width: 40%;
}

.techSkill li{
    width: 100%;
}

/*  Portfolio Page  */
.portfolioGrid{
    display: grid;
    grid-template-columns: repeat(2,3fr) 1fr;
    grid-template-rows: 360px 560px 100px;
    grid-template-areas: 
    "topPortfolio topPortfolio topPortfolio"
     "leftPortfolio rightPortfolio sideBar" 
     "ft ft ft";
    grid-gap: 10px;
    justify-content: center;
}

.topPortfolio{
    background-color: #363062;
    grid-area: topPortfolio;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPortfolio a{
    text-decoration: none;
    color: whitesmoke;
    display: block;
    text-align: center;
    width: 120px;
    height: 40px;
    line-height: 2.5;
    border-radius: 7px;
    background-color:#2C3639;
    font-family: 'Righteous', cursive;
    font-weight: lighter;
}

.topPortfolio a:hover{
    background-color: #3F4E4F;
}

.sideLeftPortfolio{
    background-color: #1B2430;
    grid-row: leftPortfolio;
}

.sideRightPortfolio{
    background-color: #3F4E4F;
    grid-area: rightPortfolio;
}

.portfolioSB{
    background-color: #1363DF;
    grid-area: sideBar;
}

.portfolioFooter{
    background-color: #7858A6;
    grid-area: ft;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    margin: 67px auto;
}

.box{
    height: 100px;
    width: 100px;
    background-color:#243A73;
    margin: 5px;
    text-align: center;
}

.box:hover{
    background-color: #363062;
    cursor: pointer;
}

.box h1{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 38pt;
    margin-top: 20%;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-between;
    margin: 0 10px 10px;
}

.sidebar    {
    background-color: #371B58;
    width: 240px;
    border-radius: 7px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: start;/*main-axis*/
    align-items: stretch;/*cross-axix*/
}

.img-text{
    padding-left: 10px;
    background-color:#4C3575;
    border-radius: 7px 7px 20px 20px;
}


.img-me{
    width: 80px;
    margin: 5px;
    float: left;
}

.img-text p{
    font-size: 10pt;
    margin-top: 30px;
    margin-bottom: 5px;
}

#title{
    margin-top: 0;
}

.greeting{
    font-family: 'Righteous', cursive;
    text-align: center;
    color:antiquewhite;
}

.item{
    background-color: #7858A6;
    height: 50px;
    margin: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.item:hover{
    background-color: #5B4B8A;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideitems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:flex-start;
    gap: 12px;
}

.logout{
    height: 50px;
    background-color: #4C3575;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px 5px 10px;
}

.logout:hover{
    background-color: #EB1D36;
}

.logout h1{
    color: antiquewhite;
    font-family: 'Righteous', cursive;
    text-align: center;
    margin: 5px;
}

.sidebox{
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background-color:#4C3575;
    cursor: pointer;
    margin-top: 10px;
}


.sidebox:hover{
    background-color: #06283D;
}

.sidebox h2{
    color: antiquewhite;
    text-align: center;
    font-weight:lighter;
}

#star{
    line-height: 1.7;
}   

.content{
    background-color: #2C3639;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 7px;
}

.horbar{
    background-color: #3F4E4F;
    height: 40px;
    border-radius: 7px 7px 0 0;
}

.contentitem{
    background-color: #1B2430;
    height: 40px;
    margin: 0 10px;
    border-radius: 7px;
    cursor: pointer;
}

.contentitem:hover{
    background-color: #51557E;
}

.horbar p{
    font-weight: bold;
    text-align: center;
    line-height: 0.5;
}